<section id="users-index">
  <ul class="user-info flex-col">
    <% unless @users.empty? %>
      <% @users.each do |user| %>
        <li>
        <%= link_to(user) do %>
           <%= render "shared/user_container", user: user %> 
        <% end %>
      <% end %>
    <% end %>
  </ul>
</section>