<section id="posts-index">
  <ul>
    <li class="flex">
      <%= render "shared/user_container", user: @user %>
    </li>
    <li>
      <ul class="posts flex-col">
        <%= render "shared/list_posts", posts: @posts.reverse %>
      </ul>
    </li>

  </ul>
    
  </ul>
</section>